<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">user</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>


        <mapping class="org.moodle.springlaboratorywork.entity.League"/>
        <mapping class="org.moodle.springlaboratorywork.entity.Team"/>
        <mapping class="org.moodle.springlaboratorywork.entity.Match"/>
        <mapping class="org.moodle.springlaboratorywork.entity.Coach"/>
        <mapping class="org.moodle.springlaboratorywork.entity.Player"/>

    </session-factory>
</hibernate-configuration>